h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(184, 121, 48);
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(50, 125, 187);
    text-align: justify;
}